<%- include("../partials/header") %> 
<div class="container">
    <h1 class="my-4 text-center">Tạo khoá học</h1>
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="/courses" method="POST">
                <label>Tên môn học</label>
                <div class="form-group">
                    <input type="text" placeholder="Tên môn học" name="course[Course_name]" class="form-control">
                </div>
                <label>Thời lượng</label>
                <div class="form-group d-flex">
                    <input type="number" min="0" max="500" placeholder="HH" name="course[HH]" class="form-control">
                    <input type="number" min="0" max="60" placeholder="MM" name="course[MM]" class="form-control">
                    <input type="number" min="0" max="60" placeholder="SS" name="course[SS]" class="form-control">
                </div>
                <label>Giá</label>
                <div class="form-group">
                    <input type="number" placeholder="Giá" name="course[Price]" class="form-control">
                </div>
                <button class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
<%- include("../partials/footer") %> 
